<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- DAO -->
 
   <bean id="daoSessionbean" class="biblioteca.dao.DaoSession" scope="session"/>
  
<!-- ENTIDADES -->   
  
   <bean id="bibliotecabean" class="biblioteca.entidad.Biblioteca"/>
   <bean id="prestamobean" class="biblioteca.entidad.Prestamo"/>
   <bean id="BeanNacionalidad" class="biblioteca.entidad.Nacionalidad">
   <property name="descripcion" value="Argentino"></property>
   </bean>

   <bean id="Cliente" class="biblioteca.entidad.Clientes" init-method="initPersona" 
   destroy-method="destroyPersona" scope="prototype"></bean>
   <!-- COMENTADO
   <bean id="daoUsuariobean" class="biblioteca.dao.daoUsuario"/>
   <bean id="daoPrestamosbean" class="biblioteca.dao.daoPrestamos"/>
   <bean id="daoBibliotecabean" class="biblioteca.dao.daoBiblioteca"/>
   <bean id="daoClientebean" class="biblioteca.entidad.daoCliente"/>
    COMENTADO -->
</beans>