<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TP_PA_Grupo9?createDatabaseIfNotExist=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="show sql">true</property>
  <property name="format_sql">true</property>
  <property name="use_sql_comments">true</property>
  <mapping class="Ejercicio1.Tarjeta"/>
  <mapping class="Ejercicio1.Titular"/>
  <mapping class="Ejercicio4.Equipo"/>
  <mapping class="Ejercicio4.Torneo"/>
  <mapping class="Ejercicio2.Tienda"/>
  <mapping class="Ejercicio2.Articulos"/>
  <mapping class="Ejercicio3.Cliente"/>
  <mapping class="Ejercicio3.Pedido"/>
 </session-factory>
</hibernate-configuration>
